body{
  font-family: helvetica;
  line-height: 1.4;

}

div {
  display: block;
}

/* header section */

.company {
  background-color: black;
  color: white;
}

  .company .container {
    display: flex;
    align-items: center;
    padding: .66rem 0 .66rem 0.5rem;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .company img {
    height: 1.5rem;
    padding-right: 1rem;
}

/* banner section */

  .banner {
    background: url('../images/moto.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
}

  .headline {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}

  .headline h1 {
    margin: .25rem, 0;
    font-size: 2rem;
    line-height: 1.2;
  }

  h1, h4 {
    font-weight: bold;
  }


/* navigation section */

.container {
  max-width: 960px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: firebrick;
  color: white;
  padding: 0.75rem 10rem;


}

/* product grid */

.product-grid {
  text-align: center;
  background-color: black;
}

.images {
  display: flex;
  flex-wrap: row-wrap;
  justify-content: space-around;
  width: 1000px;
  padding: 10px 0px 0px 150px;
}

.images img {
  margin: 0 10px;
  height: 200px;
  width: 300px;
  border: 1px solid black;
}

.text {
  display: flex;
  justify-content: space-around;
  padding: 10px 120px 0px 130px;

}

/* Locations and Hours */

.locations {

}

.hours {

}
