html {
  font-size: 16px;
}

body{
  font-family: helvetica;
  line-height: 1.4;

}

div {
  display: block;
}

/* header section */

.company {
  background-color: black;
  color: white;
}

  .company .container {
    display: flex;
    align-items: center;
    padding: .66rem 0 .66rem 0.5rem;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .company img {
    height: 1.5rem;
    padding-right: 1rem;
}

/* banner section */

  .banner {
    background: url('../images/moto.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
}

  .headline {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}

  .headline h1 {
    margin: .25rem, 0;
    font-size: 2rem;
    line-height: 1.2;
  }

  h1, h4 {
    font-weight: bold;
  }


/* navigation section */

.container {
  max-width: 960px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: firebrick;
  color: white;
  padding: 0.75rem 10rem;

}

.tablet-nav {
  text-align: center;
  display: none;
}


/* products and contact info */

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

.products-tablet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: none;
}

/* Locations and Hours */

.business-info {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  padding: 1rem 2rem;
  text-align: left;
}

.title {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

/* footer */

footer {
  display: block;
  padding: 2.5rem;
  background-color: black;
  text-align: left;
  color: white;
  margin-top: 4rem;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .tablet-nav {
    display: block;
  }
  nav ul {
    display: none;
  }
  .products-tablet {
    display: flex;
  }
  .product {
    width: 47%;
  }
  .products {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .banner {
    height: 15rem;
  }
  .headline h1 {
    font-size: 1rem;
  }
  .headline h4 {
    font-size: 0.77rem;
  }
  .headline {
    padding: 1rem 0 1rem 2rem;
    width: 100%;
  }
}
